.TodoList{
    max-width: 400px;
    margin: auto;
    width: 50%;
}
.mat-card-title{
    margin-top: 6px;
}
.mat-card-header .mat-card-title {
    font-size: 30px;
}
.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 10px;
    margin-top: 30px;
}


