.todo {
  display: flex;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  color: white;
}

.inputfield {
  margin-top: 10px;
}

/* UI of matbutoons */
.matbn {
  background-color: #424242;
  color: #ddd;
}

.todo:last-of-type {
  border-bottom: 0;
}

.todo .id {
  flex: 1 1 50px;
}

.todo .content {
  flex: 1 1 100%;
}

.todo.done .content {
  text-decoration: line-through;
}

.todo-input {
  width: calc(100% - 65px);
  height: 45px;
  appearance: none;
  border: none;
  background-color: #f3f3f3;
  font-size: 20px;
  outline: none;
  margin-right: 12px;
  margin-bottom: 15px;
}
