<div class="todos">
	<form (submit)="addTodo()">
		<div class="inputfield">
			<input type="text" name="inputTodo" placeholder="Enter To Do Here" class="todo-input"
				[(ngModel)]="inputTodo" />
			<button mat-mini-fab class="matbn" type="submit" value="Add Todo">
				<mat-icon>add</mat-icon>
			</button>
		</div>
	</form>

	<div *ngFor="let todo of todos; let i= index;" class="todo {{ (todo.completed ?
		'done' : '') }}">
		<div class="id">{{ i+1 }}</div>
		<div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
		<button mat-mini-fab class="matbn" (click)="deleteTodo(i)">
			<mat-icon>delete</mat-icon>
		</button>

	</div>
</div>